<div class="jumbo">
    <h2>Настройки</h2>
</div>
<ConfigsConfig @configs={{this.model.config}} @store={{this.store}} />
<ConfigsLocale @locales={{this.model.locale}} @store={{this.store}} />
<ConfigsPaymentsystems @paymentsystems={{this.model.paymentsystems}} @store={{this.store}} />