<h3>Платежные системы</h3>
<table class="config-table">
    <tr>
        <th>Название</th>
        <th>URL</th>
    </tr>
  {{#each this.paymentsystems as |ps|}}
      <tr>
          <td><span class="filledInput"><Input @id="paymentsystem-name-{{ps.id}}" @value="{{ps.name}}" @input={{action "preUpdateValue"}}></Input></span></td>
          <td><span class="filledInput"><Input style="position: relative; width: 100%;" @id="paymentsystem-provider-{{ps.id}}" @value="{{ps.provider}}" @input={{action "preUpdateValue"}}></Input></span></td>
      </tr>
  {{/each}}
    <tr>
        <td colspan="2" style="text-align: center;"><button {{action "update"}}>Обновить</button></td>
    </tr>
</table>