<h3>Локализации</h3>
<table class="config-table">
    <tr>
        <th>Название</th>
        <th>Код</th>
    </tr>
  {{#each this.locales as |locale|}}
      <tr>
          <td><span class="filledInput"><Input @id="locale-title-{{locale.id}}" @value="{{locale.title}}" @input={{action "preUpdateValue"}}></Input></span></td>
          <td><span class="filledInput"><Input @id="locale-locale-{{locale.id}}" @value="{{locale.locale}}" @input={{action "preUpdateValue"}}></Input></span></td>
      </tr>
  {{/each}}
    <tr>
        <td colspan="2" style="text-align: center;"><button {{action "update"}}>Обновить</button></td>
    </tr>
</table>