<article class="listing">
    <img src={{this.product.photo}} alt="">
    <div class="details">
        <h3>{{this.product.name}}</h3>
        <div class="detail price">
            <span>Цена:</span> {{this.product.price}}
        </div>
        <div class="detail available">
            <span>Доступно:</span> {{this.product.available}}
        </div>
        <div class="detail created">
            <span>Добавлен:</span> {{this.product.created_at}}
        </div>
        <div class="detail updated">
            <span>Обновлен:</span> {{this.product.updated_at}}
        </div>
        <div class="detail total">
            <span>Полная цена: </span> {{this.product.total_price}}
        </div>
        <div class="detail actions">
          {{#link-to "products"}}
              ✏️ Редактировать
          {{/link-to}}
          {{#link-to "products"}}
              🗑️ Удалить
          {{/link-to}}
        </div>
    </div>
</article>